.card-main{
    background-color: rgb(209, 209, 209);
    width: 310px;
}
.card-container{
    border-radius: 20px;
    padding: 15px;;
    width: 300px;
    margin: 5px;
    background-color:white;
}
.card-hr{
    margin-top: 5px;
}
.card-items{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    justify-content: flex-start;
}

.card-text{
    display: block;
}
.card-item-text .icon-card{
    font-size:20px;
}