.card__content {
    padding-top: 10px;
  }

  .card{
    display: flex;
    width: 200px;
    height: 100px;
    overflow: hidden;
  
}

  .card__title
  {
    display: flex;
    background-color: black;
    color: white;
  }
  .card:hover
  {
    box-shadow: 5px 5px 5px;
  }
  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    flex-wrap: wrap;
  flex: 50%;
  overflow: hidden;
  }
.flex{
  display: flex;
  height: 100px;
  width: 100px;
  
}
