.card__content {
    padding-top: 10px;
  }

  .card{
    width: 400px;
    height: 400px;
    margin-left: 80px;
  }

  .card__title
  {
    background-color: black;
    color: white;
  }
  .card:hover
  {
    box-shadow: 5px 5px 5px;
  }

